:root {
    --red:#B90504;
    --darkRed: #990100;
    --grey: #333333;
    --lightGray: #E8E8E8;
    --white: #F6F6F6;
}

html, body {
    background-image:url('img/greyBackground.png');
    background-repeat:repeat;
    font-size:14px;
    touch-action: manipulation;
}

button {
    display:block;
    margin:15% auto;
    background:var(--red);
    outline:0;
    border:0;
    padding:10em;
    border-radius: 50%;
    box-shadow:0px 0px 0px 0px var(--darkRed), 
               0px 0px 10px 0px rgba(0,0,0,0.4);
}

button:hover, button:active {
    background:var(--darkRed);
}

.sidebar {
    width:366px;
    height:auto;
    margin:1em;
    position:absolute;
    top:0;
    display:block;
    overflow: hidden;
    opacity: 0.5;
}
    
.sidebar .dial {
    width:366px;
    height:287px;
    margin-bottom:10em;
    background-image:url('img/dials.png');
    background-size: 366px 287px;
}

.left {float:left; left:0;}
.right {float:right; right:0;}
/*************/
.the-button {
    
    position: relative;

    width: 100%;
    height: 100%;
            
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    padding: 0;
    
    
    -webkit-box-shadow: 0 0 .5em rgba(0,0,0,1),
        inset 0 .25em .3em rgba(255,255,255,.3),
        inset 0 -.25em .3em rgba(0,0,0,.5);

    -moz-box-shadow: 0 0 .5em rgba(0,0,0,1),
        inset 0 .25em .3em rgba(255,255,255,.3),
        inset 0 -.25em .3em rgba(0,0,0,.5);

    box-shadow: 0 0 .5em rgba(0,0,0,1),
        inset 0 .25em .3em rgba(255,255,255,.3),
        inset 0 -.25em .3em rgba(0,0,0,.5);

        
    font: inherit;
    
    cursor: pointer;

}

.the-button:before {
    content: " ";
    
    position: absolute;
    
    /*
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    */
    
    left: 3%;
    top: 3%;
    width: 95%;
    height: 95%;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.14) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.14)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.the-button:active {
    -webkit-box-shadow: 0 0 .5em rgba(0,0,0,1),
        inset 0 .1em .3em rgba(0,0,0,.5),
        inset 0 -.1em .3em rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 .5em rgba(0,0,0,1),
        inset 0 .1em .3em rgba(0,0,0,.5),
        inset 0 -.1em .3em rgba(0,0,0,.5);
    box-shadow: 0 0 .5em rgba(0,0,0,1),
        inset 0 .1em .3em rgba(0,0,0,.5),
        inset 0 -.1em .3em rgba(0,0,0,.5);
    
    -webkit-tap-highlight-color: transparent;

}

.the-button:active:before {
    top: 11.5%;
}

.button-frame {
    
    top: 50%;
  
    position: relative;
    z-index: 20;
    
    margin: 25% auto;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    width: 15em;
    height: 15em;

    padding: 1em;
    
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.9),
        inset 0 .25em .125em rgba(255,255,255,.3),
        inset 0 -.25em .125em rgba(0,0,0,.3);

    -moz-box-shadow: 0 0 .25em rgba(0,0,0,.9),
        inset 0 .25em .125em rgba(255,255,255,.3),
        inset 0 -.25em .125em rgba(0,0,0,.3);

    box-shadow: 0 0 .25em rgba(0,0,0,.9),
        inset 0 .25em .125em rgba(255,255,255,.3),
        inset 0 -.25em .125em rgba(0,0,0,.3);

    
    background: #cc0000;
    
    display: block;
}


.plastic {
    background: #b01e1e; /* Old browsers */
    background: -moz-linear-gradient(top,  #b01e1e 0%, #920f0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b01e1e), color-stop(100%,#920f0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b01e1e 0%,#920f0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b01e1e 0%,#920f0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b01e1e 0%,#920f0f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b01e1e 0%,#920f0f 100%); /* W3C */
}
